.wrap {
  width: 300px;
  height: 300px;
  border: 1px solid #333;
  overflow: hidden;
}
.box {
  width: 30px;
  height: 30px;
  background: #3cd;
  cursor: pointer;

  &.blink {
    /* 此处注意顺序，不然语法无法解析 */
    animation: blinking 0.5s linear;
  }
}

@keyframes blinking {
  50% {
    opacity: 0;
    background: red;
  }
}
